<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Drive With Me</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
		<script type="text/javascript" src="{{ url_for('static', filename='manifest.min.js') }}"></script>
	</head>
	<body>
		<div id="app-root">
		</div>
		<script type="text/javascript" src="{{ url_for('static', filename='vendor.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='app.min.js') }}"></script>
	</body>
</html>